.title,
.navbar-brand {
  font-family: "Kurale", serif;
}

h1,
.h1 {
  font-size: 2rem;
  @include media-breakpoint-up(lg) {
    font-size: 2.35rem;
  }
}

h2,
.h2 {
  font-size: 1.4rem;
  @include media-breakpoint-up(lg) {
    font-size: 1.88rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $dark;
  font-weight: 500;
}

.bg-dark *,
.text-white * {
  color: inherit;
}
