@import "bootstrap_theme/bootstrap.scss";
$headerHeight: 54px;

//Cursor pointer for all clicackable components
a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

a[href]{
  &:hover {
    color: inherit;
  }
}

.footer .link {
  line-height: .8;
  border-bottom: 1px dashed rgba(#fff, .4);
}

@import "_typography";
@import "_icons";
@import "_buttons";
@import "_layout";
@import "_books_card";
@import "_search_form";
@import "_info_block";
@import "_books";
@import "_feautures";
@import "_sharing_buttons";
